<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- set this to true for production, and false for development/localization -->
    <cache-messages>true</cache-messages>
    <!-- how far ahead to set the browser's cache -->
    <max-age>2628001</max-age>
    <cache>true</cache>

    <cde-components>
	  <!-- paths from solution with cde component definitions to be loaded-->
	  <path>system/${component.name}/resources/components</path>
	  <path>${component.name}/components</path>
	</cde-components>
</settings>
